{% extends 'base_eshop.html.twig' %}
{% block title %} {% endblock %}
{% block body %} 
<div class ="container">
    <h2>Děkujeme, že u nás nakupujete!</h2>
    <a href="{{ path('showproducts')}}">Zpět na výpis produktů</a>
</div>
{% endblock %}