{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Vytvořit nový produkt{% endblock %}

{% block body %}
    <h1>Vytvořit nový produkt</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}"class="btn btn-secondary">Zpět do administrace</a>
{% endblock %}
