{% extends 'base_admin.html.twig' %}
{% block title %}Úvodní stránka administrace{% endblock %}
{% block body %}
    <div class="container">   
    
        <h2>Vítejte v administraci</h2>
        
        <p>Vyberte, co chcete spravovat:</p>
        <a href="{{ path('product_index') }}"> Produkty </a> <br>
        <a href="{{ path('category_index') }}"> Kategorie </a> <br>
        <a href="{{ path('objednavka_index') }}"> Objednávky </a> <br>
    
    </div>
{% endblock %}