{% extends 'base_eshop.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class ="container">
    <h3>Vytvořit novou objednávku</h3>
    
    {{ include('order/_form.html.twig') }}
 
    <a href="{{ path('showproducts', {category: 1}) }}">Zpět na seznam produktů</a>
</div>
{% endblock %}
