{% extends 'base.html.twig' %}

{% block title %}Edit Objednavka{% endblock %}

{% block body %}
    <h1>Edit Objednavka</h1>

    {{ include('objednavka/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('objednavka/_delete_form.html.twig') }}
    
    <a href="{{ path('objednavka_index') }}" class="btn btn-secondary">Zpět na výpis</a>
    
{% endblock %}
